html
  head
    title Formulario Registro
  body
    form(action="/" method="post")
      h2 Nombre
      input(type='text' id='name' name='nombre')
      h2 Email
      input(type='email' id='email' name='correo')
      h2 Contraseña
      input(type='password' id='password' name='contrasena')
      button(type='submit') Enviar  